.value {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-grey-800);
}
.label {
  font-size: 14px;
  color: var(--color-grey-600);
}
.card:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.inHand {
  width: 34%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid var(--color-warning-300);
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 2px var(--color-warning-300);
}
.onTheWay {
  width: 34%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid var(--color-primary-100);
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 2px var(--color-primary-100);
}
.alerts {
  width: 34%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid var(--color-error-100);
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 2px var(--color-error-100);
}
