:root {
  --color-primary-50: #e8f1fd;
  --color-primary-100: #b6d3fa;
  --color-primary-200: #93bdf8;
  --color-primary-300: #629ff4;
  --color-primary-400: #448df2;
  --color-primary-500: #1570ef;
  --color-primary-600: #1366d9;
  --color-primary-700: #0f50aa;
  --color-primary-800: #0c3e83;
  --color-primary-900: #092f64;

  --color-success-50: #e7f8f0;
  --color-success-100: #b6e9d1;
  --color-success-200: #92deba;
  --color-success-300: #60cf9b;
  --color-success-400: #41c588;
  --color-success-500: #12b76a;
  --color-success-600: #10a760;
  --color-success-700: #0d824b;
  --color-success-800: #0a653a;
  --color-success-900: #084d2d;

  --color-warning-50: #fef4e6;
  --color-warning-100: #fdddb3;
  --color-warning-200: #fbcc8e;
  --color-warning-300: #fab55a;
  --color-warning-400: #f9a63a;
  --color-warning-500: #f79009;
  --color-warning-600: #e18308;
  --color-warning-700: #af6606;
  --color-warning-800: #884f05;
  --color-warning-900: #683c04;

  --color-error-50: #feeceb;
  --color-error-100: #fac5c1;
  --color-error-200: #f8a9a3;
  --color-error-300: #f5827a;
  --color-error-400: #f36960;
  --color-error-500: #f04438;
  --color-error-600: #da3e33;
  --color-error-700: #aa3028;
  --color-error-800: #84251f;
  --color-error-900: #651d18;

  --color-grey-50: #f0f1f3;
  --color-grey-100: #d0d3d9;
  --color-grey-200: #b9bdc7;
  --color-grey-300: #989fad;
  --color-grey-400: #858d9d;
  --color-grey-500: #667085;
  --color-grey-600: #5d6679;
  --color-grey-700: #48505e;
  --color-grey-800: #383e49;
  --color-grey-900: #2b2f38;
}
